<!DOCTYPE html>
<html>
    
    <head>
        <title>Dashboard</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/css/dash_style.css">
        <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    </head>
    
    <body>
        <navbar class="nav">
            <ul>
                <li class="back"><i class="uil uil-angle-left-b"></i>Back</li>
                <li class="nav_update"><button class="nav_button"><a href="/updateProf">Update profile</a></button></li>
                <li class="nav_signout"><button class="nav_button"><a href='/signout'>Sign out</a></button></li>
            </ul>
        </navbar>
        <div class="dash">
            <div class="sidebar">
                <div class="profile">
                    <img src="<%=userImage%>" alt="" id="profile_pic">
                </div>
                <div class="info">
                <span class="username"><%=userName%></span>
                <span class="actual"><%=actualName%></span>
            </div>
        </div>
        <div class="mainbar">
            <div class="mainbar-content">
                <h1>Welcome!    <span style="color:grey"><%=userName%></span></h1>
                <div class="rooms">
                    <div class="rooms-content">
                        <h2>Rooms</h2>
                        <form>
                            <input type="button" value="Create Room" class="btn" id="create_btn">
                            <input type="button" value="Join Room" class="btn" id="join_btn">
                        </form>
                        <div id="room-popup">
                            <form method="post" action="/createRoom">
                                <label for="room-user">Username: </label>
                                <br>
                                <input type="text" value="<%=userName%>" size="30" id="room-user" readonly>
                                <br>
                                <label for="room-name">Enter room name : </label>
                                <br>
                                <input type='text' placeholder='Enter room name'id="room-name"size='30' name="roomN">
                                <br>
                                <label for="room-option" id="room-label">Choose Room : </label>
                                <br>
                                <div id="room-option-div">
                                    <select name="roomType" id="room-option">
                                        
                                        <option  value="Chat">Chat Room</option>
                                        <option  value="Video">Video Room</option>
                                    </select>
                                <input type="submit" id="create-room" name="btn" value="Create Room"style="margin-top:5px; border-color:grey">
                                </div>
                                <input type="submit" id="join-room" name="btn" value="Join Room"style="margin-top:5px; border-color:grey">
                            </form>
                        </div>
                        <div class="room-joined">
                            <h3>Rooms Available</h3>
                            <ul>
                                <% for(var i=0;i<roomArray.length;i++){%>
                                    <% if(roomArray[i].roomType==='Chat'){%>
                                        
                                        <li><a href="/chat/<%=roomArray[i].roomName%>"><%=roomArray[i].roomName%></a> Type: <%=roomArray[i].roomType%></li>
                                        <%}%>
                                        <% if(roomArray[i].roomType==='Video'){%>
                                            
                                            <li><a href="/video/<%=roomArray[i].roomName%>"><%=roomArray[i].roomName%></a> Type: <%=roomArray[i].roomType%></li>
                                            <%}%>
                                            <%}%>
                                            
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="files">
                                <div class="files-content">
                                    <h2>Files</h2>
                                    <form>
                                        <input type="button" value="Send File" class="btn" id="send_btn">
                                    </form>
                                    <div id="send-popup">
                                        <form method="post" action="/sendFile" enctype="multipart/form-data">
                                            <label for="send-user">Username : </label>
                                            <br>
                                            <input type="text"  placeholder="Enter username"size="30" id="send-user" name="recUser">
                                            <br>
                                            <label for="room-option" id="room-label">Choose File : </label>
                                            <br>
                                            <input type="file" style="border:none" name="imp">
                                <br>
                                <input type="submit" style="margin-top:5px; border-color:grey">
                            </form>
                        </div>
                        <div class="room-joined">
                            <h3>Files Received</h3>
                            <ul>
                                <% for(var i=0;i<fileArray.length;i++){%>
                                    <li><a href="<%=fileArray[i].fileUrl%>"><%=fileArray[i].fileName%> </a>Sent by: <%=fileArray[i].from%></li>
                                    <%}%>
                                </ul>
                                <h3>Files Sent</h3>
                                <ul>
                                    <% for(var i=0;i<fileArray2.length;i++){%>
                                        <li><a href="<%=fileArray2[i].fileUrl%>"><%=fileArray2[i].fileName%></a> Sent to: <%=fileArray2[i].to%></li>
                                        <%}%>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <script src="/js/dash_script.js"></script>
            
        </body>
        
        </html>